{% extends 'greeny/template.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-12 col-md-8 m-auto mt-4">
                <div class="animate__animated animate__fadeIn">
                    <a href="/" class="btn btn-greeny rounded-pill"><i class="bi bi-arrow-left"></i> Home</a>
                </div>
                <div class="animate__animated animate__fadeIn w-100 text-center row pb-3">
                    <div class="col-12">
                        <img src="{% static 'greeny/img/logo.png'%}" width="300vw">
                    </div>
                    <div class="fw-bold fs-4 col-10 m-auto">
                        Our mission is to organise the business in better way and make it easy accessible and faster.
                    </div>
                    <div class="col-10 col-md-6 col-lg-3 m-auto fs-4 mt-5 text-start">
                        <div class="fw-semibold text-greeny pt-4">
                            <span class="pb-1 px-2">Contact us : </span><a href="mailto:igowthamanks@gmail.com" class="text-greeny fw-semibold"><i class="bi bi-envelope"></i></a>
                        </div>
                        <div class="fw-semibold text-greeny fs-4">
                            <span class="pb-1 px-2">Follow us  &nbsp;&nbsp;: </span>
                            <a href="https://www.linkedin.com/in/igowthaman/" class="text-greeny fw-semibold" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/igowthaman" class="text-greeny fw-semibold px-2" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}